<ul>
	<% @files.each do |file| %>
		<li>
			<a href="/<%= file %>"><%= file %></a>
			<a href="/<%= file %>/edit">Edit</a>
			<br>
			<br>
			<form class="inline" method="post" action="/<%= file %>/delete">
        		<button type="submit">delete</button>
      		</form>
      		<br>
      		<br>
		</li>
	<% end %>
	<a id="newdoc" href="/new/document">New Document</a>
</ul>

<br>
<br>

<% if session[:user] %>
	<form class="inline" action="/signout" method="post">
		<p class="user-status"> Signed in as <%= session[:user] %></p><br>
		<br>
		<input type="submit" value ="Sign Out">
	</form>
<% else %>
  	<p class="user-status"><a href="/users/signin">Sign In</a></p>
<% end %>